<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mobiteam Cloud</title>
        {% load static %}
        <link rel="icon" href="{%  static 'upload_app/img/cloud.png' %}" />
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% block scripts %}
            <script>
                function CopyText(element_id) {
                    var text = document.getElementById(element_id)
                    text.select();
                    document.execCommand('copy')
                }
            </script>
        {% endblock scripts %}
        {% if documents %}
            <ul>
                {% for document in documents %}
                    <li>
                        <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>
                        <button style="background:green; text-align:center;" onclick="CopyText({{ document.docfile.id }})">Copy Text</button>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'my-view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>
    </body>

</html>
